<div class="page-wrap">
  <div class="articles-and-sidebar">
        <header class="mega-header">
          <div class="tags">
            <a href="https://css-tricks.com/tag/grid/" rel="tag">grid</a> <a href="https://css-tricks.com/tag/grid-template-columns/" rel="tag">grid-template-columns</a> </div>
          <h1 class="article-title">
            Responsive Grid Magazine Layout in Just 20 Lines of&nbsp;CSS </h1>
          <div class="author-row">
            <a href="https://css-tricks.com/author/keirwatson/" aria-label="Author page of Keir Watson">
              <img alt="Avatar of Keir Watson" src="https://secure.gravatar.com/avatar/62e2cd8a67945c24db80fda9c2ff18e9?s=80&amp;d=retro&amp;r=pg" srcset="https://secure.gravatar.com/avatar/62e2cd8a67945c24db80fda9c2ff18e9?s=160&amp;d=retro&amp;r=pg 2x" class="avatar avatar-80 photo skip-lazy" height="80" width="80" loading="lazy"><noscript><img alt='Avatar of Keir Watson' src='https://secure.gravatar.com/avatar/62e2cd8a67945c24db80fda9c2ff18e9?s=80&#038;d=retro&#038;r=pg' srcset='https://secure.gravatar.com/avatar/62e2cd8a67945c24db80fda9c2ff18e9?s=160&#038;d=retro&#038;r=pg 2x' class='avatar avatar-80 photo skip-lazy' height='80' width='80' loading='lazy'/></noscript> </a>
            <div>
              <a class="author-name" href="https://css-tricks.com/author/keirwatson/">
                Keir Watson </a>
              on
              <time title="Originally published Feb 25, 2020" datetime="">
                May 2, 2020 </time>
            </div>
          </div>
        </header>
        <div class="article-sponsor">
          <div>
            <p>
              Learn Development at <a href="https://frontendmasters.com/?utm_source=css-tricks&amp;utm_medium=website&amp;utm_campaign=css-tricks-monthly-site-sponsor">Frontend Masters</a>
            </p>
          </div>
        </div>
    <div class="entry-unrelated sidebar">
      <div id="all-modules"><div class="single-module single-module-mailchimp module-5">
        <div class="module">
          <a href="//srv.buysellads.com/ads/click/x/GTND42JJCKYIE23NCA7LYKQNC67DEK7LF6SIVZ3JCYYI6277F67I553KC6BIC53NF6YIE27WFT7D65QLCKADC5QNHEYIKKQICVYI52JECTNCYBZ52K">
            <img src="https://res.cloudinary.com/css-tricks/image/fetch/w_600,q_auto,f_auto/https://cdn4.buysellads.net/uu/7/78180/1608679491-MCSmart_Engage_Custom_Feature_CustJny_GetStarted_1x1-_1_.jpg" alt="Ad for mailchimp">
          </a>
        </div>
        <div class="interlude">
          <a class="spon-title" href="https://www.notion.so/csstricks/Sponsorship-Possibilities-cb5b33a3f6f64c239220547fe7965d78">Sponsored</a>
          <a href="//srv.buysellads.com/ads/click/x/GTND42JJCKYIE23NCA7LYKQNC67DEK7LF6SIVZ3JCYYI6277F67I553KC6BIC53NF6YIE27WFT7D65QLCKADC5QNHEYIKKQICVYI52JECTNCYBZ52K">Guide customers to what they are more likely to buy next with our new Customer Journey Smarts.</a>
        </div>
        <img src="https://ad.doubleclick.net/ddm/ad/N1224323.3091281BUYSELLADS/B25110421.291218626;sz=1x1;ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=?" alt=""><img src="https://pixel.adsafeprotected.com/rfw/st/558772/51666831/skeleton.gif?gdpr=$&amp;gdpr_consent=$&amp;gdpr_pd=$&amp;network=BUYSELLADS" alt="" style="display: none !important;">
      </div><div class="single-module single-module-Contentful module-4">
        <div class="module">
          <a href="//srv.buysellads.com/ads/click/x/GTND42JJCKYIE23NCA7LYKQNC67DEK7ICVBI6Z3JCYYI6277CWSD423KC6BIC53NF6YIE27WFT7D65QLCKADC5QNHEYIKKQICVYI52JECTNCYBZ52K">
            <img src="https://res.cloudinary.com/css-tricks/image/fetch/w_600,q_auto,f_auto/https://cdn4.buysellads.net/uu/7/82455/1612820737-Carbon-Ads-css-sidetricks--REV.png" alt="Ad for Contentful">
          </a>
        </div>
        <div class="interlude">
          <a class="spon-title" href="https://www.notion.so/csstricks/Sponsorship-Possibilities-cb5b33a3f6f64c239220547fe7965d78">Sponsored</a>
          <a href="//srv.buysellads.com/ads/click/x/GTND42JJCKYIE23NCA7LYKQNC67DEK7ICVBI6Z3JCYYI6277CWSD423KC6BIC53NF6YIE27WFT7D65QLCKADC5QNHEYIKKQICVYI52JECTNCYBZ52K">Tired of self-hosting your CMS? Go API-first with Contentful. Sign up and start building for free.</a>
        </div>

      </div><div class="single-module single-module-hotjar module-3">
        <div class="module">
          <a href="//srv.buysellads.com/ads/click/x/GTND42JJCKYIE23NCA7LYKQNC67DEK7JCAYI6Z3JCYYI6277CYYIV2QKC6BIC53NF6YIE27WFT7D65QLCKADC5QNHEYIKKQICVYI52JECTNCYBZ52K">
            <img src="https://res.cloudinary.com/css-tricks/image/fetch/w_600,q_auto,f_auto/https://cdn4.buysellads.net/uu/7/82455/1609346022-CSS-Tricks01.png" alt="Ad for hotjar">
          </a>
        </div>
        <div class="interlude">
          <a class="spon-title" href="https://www.notion.so/csstricks/Sponsorship-Possibilities-cb5b33a3f6f64c239220547fe7965d78">Sponsored</a>
          <a href="//srv.buysellads.com/ads/click/x/GTND42JJCKYIE23NCA7LYKQNC67DEK7JCAYI6Z3JCYYI6277CYYIV2QKC6BIC53NF6YIE27WFT7D65QLCKADC5QNHEYIKKQICVYI52JECTNCYBZ52K">Understand how users are really experiencing your site without drowning in numbers. Sign up for a 15-day business trial!</a>
        </div>

      </div><div class="single-module single-module-Algolia module-2">
        <div class="module">
          <a href="//srv.buysellads.com/ads/click/x/GTND42JJCKYIE23NCA7LYKQNC67DEK7ICT7IKZ3JCYYI6277CYAIV53KC6BIC53NF6YIE27WFT7D65QLCKADC5QNHEYIKKQICVYI52JECTNCYBZ52K">
            <img src="https://res.cloudinary.com/css-tricks/image/fetch/w_600,q_auto,f_auto/https://cdn4.buysellads.net/uu/7/82455/1611101315-CSSTricks-ad-600x600_2x.jpg" alt="Ad for Algolia">
          </a>
        </div>
        <div class="interlude">
          <a class="spon-title" href="https://www.notion.so/csstricks/Sponsorship-Possibilities-cb5b33a3f6f64c239220547fe7965d78">Sponsored</a>
          <a href="//srv.buysellads.com/ads/click/x/GTND42JJCKYIE23NCA7LYKQNC67DEK7ICT7IKZ3JCYYI6277CYAIV53KC6BIC53NF6YIE27WFT7D65QLCKADC5QNHEYIKKQICVYI52JECTNCYBZ52K">6 open source UI libraries. 11 API clients. 1 hour to build. Take the pain out of building and maintaining site search with our hosted API.</a>
        </div>

      </div><div class="single-module single-module-DataStax module-1">
        <div class="module">
          <a href="//srv.buysellads.com/ads/click/x/GTND42JJCKYIE23NCA7LYKQNC67DEK7LF6SI5Z3JCYYI6277CYYIT27KC6BIC53NF6YIE27WFT7D65QLCKADC5QNHEYIKKQICVYI52JECTNCYBZ52K">
            <img src="https://res.cloudinary.com/css-tricks/image/fetch/w_600,q_auto,f_auto/https://cdn4.buysellads.net/uu/7/82455/1610744508-CSS-Tricks_Astra_600x600_blue-naut.jpg" alt="Ad for DataStax">
          </a>
        </div>
        <div class="interlude">
          <a class="spon-title" href="https://www.notion.so/csstricks/Sponsorship-Possibilities-cb5b33a3f6f64c239220547fe7965d78">Sponsored</a>
          <a href="//srv.buysellads.com/ads/click/x/GTND42JJCKYIE23NCA7LYKQNC67DEK7LF6SI5Z3JCYYI6277CYYIT27KC6BIC53NF6YIE27WFT7D65QLCKADC5QNHEYIKKQICVYI52JECTNCYBZ52K">Deliver applications faster with REST, GraphQL, CQL, and JSON/Document APIs. Try Astra DBaaS with 5 GB free.</a>
        </div>

      </div>
        <div id="scroll-ad-position"></div>
        <div id="sticky-sidebar-stuff">
          <div class="fem-conditional-message">
            <div class="fem-ad fem-sidebar-ad">
              <div class="fem-header">
                <div class="fem-header-inner">
                  <div class="fem-learning-partner">
                    Our Learning Partner
                  </div>
                  <a href="https://frontendmasters.com/courses/css-grids-flexbox/?utm_source=css-tricks&amp;utm_medium=website&amp;utm_campaign=css-tricks-tags-sidebar?utm_source=css-tricks&amp;utm_medium=website&amp;utm_campaign=css-tricks-tags-sidebar"><img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1577456769/FEM-sidebar-CSS_ssbe8e.png" alt="Frontend Masters logo" class="fem-logo"></a>
                  <div class="fem-title">
                    Frontend Masters
                  </div>
                </div>
              </div>
              <div class="fem-message">
                <h4>Wanna learn modern CSS layout?</h4>
                <p>Laying out designs on the web with CSS has gotten a lot more powerful in recent years. CSS grid and flexbox are incredibly powerful tools for that, and <a href="https://frontendmasters.com/?utm_source=css-tricks&amp;utm_medium=website&amp;utm_campaign=css-tricks-tags-sidebar">Frontend Masters</a> has <a href="https://frontendmasters.com/courses/css-grids-flexbox/?utm_source=css-tricks&amp;utm_medium=website&amp;utm_campaign=css-tricks-tags-sidebar">a complete learning course on them</a> from Jen Kramer.</p>
              </div>
            </div>
          </div> </div>
      </div>
    </div>
  </div>
</div>








<h1>Should I run it twice?</h1>

<h2>Poker Strategies explained</h2>

<div id="content">
  EV-wise: it doesn’t. But EV isn’t everything in poker. <br/>
  In the bottom line, probably like most real answers it depends.
  But unlike what you may think,  it depends on your strategy and money in the pot and less about your cards. It is best to stick to one strategy and validate that it fits you well.

  I’ll explain. Let’s examine a non-deep standard cash game.

  Image explaining: we shoved 10$ in table where everyone has 80$ and got paid
  AK vs 10 10

  In this standard race, we are likely to win as much as we are to lose.
  Getting to races like that (and sometimes races when we are behind) are very often inevitable, but our strategy should be around what we do before we get there, and when to run-it-twice when we do.
  Our primary concern to look at when we run twice is: chips/risk management.
  Before we go there, we need to see that we are at a table that fits our bankroll - and we are comfortable with losing everything every session we play.
  Now what is chip management? Look at the example above. We have 10$ while the rest of the table has around 80$. Staying alive is always nice, but getting back to initial 10$ is quite pointless. With a 10$ in a table like this, you won’t get a lot of fold equity, you will be forced to race often for your entire stack, and even if you will manage to that when you 60% favorite, in the way of getting 80$ you will need 3 double ups, considering 60% equity everytime, you will only survive ~22% of the time, and in the rest of the time you’ll lose it all.

  So our goal is to increase our stack, fast, or rebuy. So I think that it is quite obvious that we should run it once in this spot. I personally recommend adding more chips up to a point we have at least 50% of the avg. stacks (or go home :) ) before we are enforced to race.

  Let’s look at another example:
  Image explaining: We shoved 100 $ with QQ over JJ. in the table where all of us around 100~.
  We’re in the lead, it is always fun. But this is poker, and our money is at risk.
  Running it twice will give us a 200$, 100$ or a 0$ stack.
  Image explaining: Adding distribution, showing it is the same EV
  Since we can see our equity isn’t changing, we should explore the different stacks.
  A 200$ stack - we are running good. With a strong stack that we can leverage to pressure other players.
  A 100$ stack - We can manage well in a table like this, there is no real reason that we should be afraid of getting back to a stack like this. It is still in our comfort zone.
  0$ stack - rebuy, no one likes that.

  So the real question asked is, how well can I play half the pot against how much do I want to avoid a rebuy OR do I have special leverage on the table with a 200$ stack that I wish to achieve now.

  In case my style is aggressive, and the rest of the table isn’t, it is a good example of leveraging a 200$ stack to make more money, and I will prefer to run it once.
  If my style is tight, while the rest of the table is aggressive, I can do a lot with a 100$ stack and am more likely to prefer running it twice, lowering significantly the odds of going for a rebuy.

  Second aspect to consider: Tilting.
  Poker is a mind game, and self-awareness is a key for success.
  What is your mental status right now? How well can you deal with a loss? How well the villain you’re up against is likely to deal with a loss?
  This may be a great opportunity to rock the other player, that will get back with more money, and a worse decision making process.


  Third aspect to consider: Blocking expected policy.
  Leveling it up a little. Other players are watching you. They see that you are running it twice nearly every time. You see that you’re getting over-paid, but you are not comfortable with play that will leverage it (higher bets), it might be a good time to run it once as a statement.

</div>