.article-title {
    font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-style: normal;
    font-size: clamp(1.2rem,calc(1rem + 3.5vw),4rem);
    text-shadow: 0 2px 2px rgb(0 0 0 / 50%);
}