:host ::ng-deep carousel .carousel-arrows{
    visibility: hidden;
}

:host ::ng-deep carousel .carousel-dots{
    visibility: hidden;
}

:host ::ng-deep carousel .carousel-cells .carousel-cell {
    height: 500px;
}

.invisible {
    visibility: hidden;
}

#suits {
    display: none;
}

#cards-to-select-mobile {
    display: none;
}

.center {
    text-align: center;
}

#subtitle {
    font-size: 1em;
}

#calc-wrapper {
    background-image: url('https://i.yapx.ru/LM6Dv.jpg');
}

.cards-to-select-wrapper {
    display: flex;
    justify-content: space-between;
}

.card-list {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

ul {
    list-style: none;

}

#board {
    position: relative;
    margin: 20px 0px 25px calc((100% - 759px) * 0.5);
    left: 8px;
    grid-area: 7 / 1 / 11 / 2;
    justify-self: start;
    align-self: start;
}

#board-bg {
    border: 8px solid #2b074d;
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 200px;
    position: absolute;
    width: 759px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#board-content {
    height: auto;
    width: 792px;
    position: relative;
}

#board-grid {
    position: static;
    height: auto;
    width: 100%;
    min-height: 432px;
}

#add-player-mobile {
    visibility: hidden;
}

#add-player .add-player-btn {
     background-color: #3333; 
}

#add-player {
    visibility: visible;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
button.add-player-btn {
    font-size: 12px ;
    width:225px;
    display:block;
    border:1px solid #fff;
    margin: 20px auto;
    font-family: 'Dosis', sans;
    font-weight:200;
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    opacity:.8;
    letter-spacing: 1px;
        -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
            transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

button.add-player-btn:hover {
    padding: 21px 40px 19px;
    width:225px;
    border:1px solid teal;
    margin: 20px auto;
    opacity:1;
    letter-spacing: 4px;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
       -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
          transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

.calc-btn {
    display: inline-block;
    padding: 20px 40px;
    color: white;
    /* transform: translate(20%, 20%);
    vertical-align: middle;
    font-family: 'Rubik One', sans-serif;
    text-decoration: none;
    font-size: 2vw;
    transition: all .5s;
    background-color: #3498db;
    cursor: pointer; */
}

.calc-btn::before {
    bottom: -15px;
    height: 15px;
    width: 100%;
    left: 8px;
    transform: skewX(45deg);
    background-color: #196090;
}

.calc-btn::after {
    right: -15px;
    height: 100%;
    width: 15px;
    bottom: -8px;
    transform: skewY(45deg);
    background-color: #124364;
}

.calc-btn:active {
    margin-left: 10px;
    margin-top: 10px;
}

.calc-btn:active::before {
    bottom: -5px;
    height: 5px;
    left: 3px;
}

.calc-btn:active::after {
    right: -5px;
    width: 5px;
    bottom: -3px;
}

#actions {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

.calc-btn{
    background-color: #3333; 
    margin: 0 1rem;
    font-size: 12px ;
    width:320px;
    display:block;
    border:1px solid #fff;
    font-family: 'Dosis', sans;
    font-weight:200;
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    opacity:.8;
    letter-spacing: 1px;
        -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
            transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

.calc-btn:hover{
    padding: 21px 40px 19px;
    width:320px;
    border:1px solid teal;
    opacity:1;
    letter-spacing: 4px;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
       -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
          transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

.disabled-btn {
    color :rgba(255, 255, 255, 0.36)
}

.spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


.deck-card-wrapper {
    padding: 4px !important;
}

/* mobile */

@media only screen and (max-width: 600px) {
    #suits {
        height: 40px;
        display: block;
    }

    .suit-select img {
        padding: 2px;
        height: 25px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .suit-select {
        opacity: 0.6;
        box-shadow: 0 2px 5px 4px rgba(0,0,0,0.2);
        cursor: pointer;
        margin: 0 2px 0 2px;
        width: calc(25% - 8px);
        background-color: dimgray;
        border: 2px outset currentColor;
    }

    .title {
        font-size: 10px;
    }

    #cards-to-select-mobile {
        display: inline-block;
        width: 100%;
    }

    #subtitle {
        display: none;
    }

    .card-list {
        width: 100%;
    }

    #board-bg {
        display: none;
    }

    #board {
        margin: 2px;
    }

    #board-grid {
        min-height: 0px;
    }

    #board-content {
        width: 100%;
    }

    #actions {
        margin: 70px 0 0 0;
    }

    #twice-wrapper {
        margin-right: 30px;
    }

    #three-wrapper {
        float: right;
    }

    .calc-btn {
        padding: 10px 20px;
        font-size: 14px;
    }

    #actions {
        margin: 0;
    }

    #cards-to-select {
        display: none;
        
    }

    /* slider additions*/
    .card-list {
        width: auto;
        height: auto;
    }

    .animate {
        transition: transform 0.3s ease-out;
    }

    #cards-to-select-mobile {
        height: 270px;
        position: relative;
    }

    .slider-wrap {
        width: 360px;
        height: 500px;
        position: absolute;
        margin-left: 20px;
    }

    .slider {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .ms-touch.slider {
        overflow-x: scroll;
        overflow-y: hidden;

        -ms-overflow-style: none;
        -ms-scroll-chaining: none;
        -ms-scroll-snap-type: mandatory;
        -ms-scroll-snap-points-x: snapInterval(0%, 100%);
    }

    .holder {
        width: 400%;
        max-height: 500px;
        height: 100%;
        overflow-y: hidden;
    }

    .slide-wrapper {
        width: 25%;
        height: 100%;
        float: left;
        height: 500px;
        position: relative;
        overflow: hidden;
    }

    .slide {
        height: 100%;
        position: relative;
    }

    .temp {
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 100px;
        bottom: 15px;
        left: 15px;
        font-family: 'Josefin Slab', serif;
        font-weight: 100;
    }

    .slide:before {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
    }

    .slide div {
        width: 300px;
        height: 500px;
        z-index: 0;
    }

    #add-player-mobile .add-player-btn {
        background-color: #3333;
    }

    #add-player {
        visibility: hidden;
    }
    #add-player-mobile {
        visibility: visible;
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
    }

    .deck-card-wrapper {
        padding: 9px !important;
    }
}

img.deck-card {
    height: 55px !important;
    width: auto !important;
}

