<div id="calc-wrapper">
  <div id="cards-to-select-mobile">


    <div id="suits">
      <div id="hearts" class="left suit-select"><img [src]="toCdn('assets/images/heart.png')" (click)="moveToIndex(0)"></div>
      <div id="diamonds" class="left suit-select"><img [src]="toCdn('assets/images/diamond.png')" (click)="moveToIndex(1)"></div>
      <div id="spades" class="left suit-select"><img [src]="toCdn('assets/images/spade.png')" (click)="moveToIndex(2)"></div>
      <div id="clubs" class="left suit-select"><img [src]="toCdn('assets/images/club.png')" (click)="moveToIndex(3)"></div>
    </div>
    <carousel cellsToShow="1"  [arrows]="true" [dots]="true" [arrowsOutside]="false" height="255" transitionDuration="10">

      <div *ngFor="let suit of calculator.suits">
        <div class="carousel-cell">
                <span *ngFor="let i of calculator.cardIndices"
                      class="deck-card-wrapper left" [class.invisible]="calculator.selectedCards[i + suit]">
                                            <img data-id="{{i}}{{suit}}" src="{{calculator.cardToSrc(i + suit)}}"
                                                 class="deck-card {{i}}{{suit}}"
                                                 (click)="calculator.selectCard(i, suit)">
                                        </span>
        </div>
      </div>
    </carousel>
  </div>

  <div id="cards-to-select">
    <ul class="cards-to-select-wrapper">

      <li *ngFor="let suit of calculator.suits" class="card-list">
        <div *ngFor="let i of calculator.cardIndices" class="deck-card-wrapper left" [class.invisible]="calculator.selectedCards[i + suit]">
          <img data-id="{{i}}{{suit}}" src="{{calculator.cardToSrc(i + suit)}}"
               class="deck-card {{i}}{{suit}}" (click)="calculator.selectCard(i, suit)">
        </div>


        <div class="clear">

        </div>
      </li>

    </ul>
  </div>
  <div id="add-player">
    <button class="calc-btn add-player-btn" [disabled]="calculator.isPlayersLimitReached()" [class.disabled-btn]="calculator.isPlayersLimitReached()" (click)="calculator.addNewPlayer()">
      <span> + Add player</span>
    </button>
  </div>

  <div id="board">
    <div id="board-bg">

    </div>
    <div id="board-content">
      <div id="board-grid">
        <card-holder [calculator]="calculator" [player]="player" *ngFor="let player of calculator.players"></card-holder>

        <div id="add-player-mobile">
          <button class="calc-btn add-player-btn" [disabled]="calculator.isPlayersLimitReached()" [class.disabled-btn]="calculator.isPlayersLimitReached()" (click)="calculator.addNewPlayer()">
            <span> + Add player</span>
          </button>
        </div>
        <card-holder [calculator]="calculator" [player]="calculator.board"></card-holder>
      </div>
    </div>
  </div>
  <div id="actions">
    <div id="twice-wrapper" class="left">
      <button id="run-twice" class="calc-btn" [disabled]="!calculator.validData" [class.disabled-btn]="!calculator.validData" (click)="calculator.sendAjaxAndSetResults(2)">
        <span>Run it twice</span>
      </button>
    </div>
    <div id="three-wrapper" class="left">
      <button id="run-three" class="calc-btn" [disabled]="!calculator.validData" [class.disabled-btn]="!calculator.validData" (click)="calculator.sendAjaxAndSetResults(3)">
        <span>Run it three times</span></button>
    </div>
    <div class="clear">

    </div>
  </div>
  <div id="results">

  </div>

</div>
<p>
  *depending on amount missing cards, percentage may be an approximation only (up to ~0.5% diff on a full
  missing board)
</p>