app-root {
    display: block;
    height: 100%;
}

body {
    margin: 0px;
}

html, body, #body {
    overflow-x: hidden;
    height: 100%;

}

@media only screen and (max-width: 600px) {
    html, body, #body {
        overflow-x: hidden;
        height: 100%;

    }

    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

}